<div class="container-md">
<div class="row">
<h1>To do </h1>
</div>
<div class="row">
<ul id=tasks>
  <% @task.each do |task| %>
    <div class="column">
      <li>
        <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete the task *#{task.title}*?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
    </div>
    <% end %>
</ul>

</div>
<div class="row">
<%= link_to "tasks/new" do %>
<i class="fa-regular fa-plus"></i>
<% end %>
</div>
</div>
