


.container-md {
  margin: 150px 100px 200px 200px;
  /* background-color: white; */
  font-family: monospace;
  font-size: 16px;

}

.link-icon {
  margin-right: 14px;
  margin-left: 14px;
}

ul {
  list-style: none;
}
